<nav class="myNav">
  <a class="nav-item Logo" href="/">TrinMaps</a>
  <a class="nav-item" href="/">Home</a>
  <a class="nav-item" href="/auth/google">Login</a>
  <a class="nav-item" href="/index">Map</a>
</nav>