<html>
  <style>
    table, th, td{
      border: 1px solid black;
    }
  </style>
  <input type="text" value="10000" id="count"/>
  <button id="run_test" onclick="runTest()">Run Tests</button>
  <table>
    <tr>
      <td>Algorithm Name</td>
      <td>Paths Length</td>
      <td>Average Distance</td>
      <td>Average Time</td>
      <td>Average Visited Nodes</td>
      <td>Average Time Per Visited Node</td>
    </tr>
    <tr>
      <td>A* Search</td>
      <td id="ast_path">0</td>
      <td id="ast_dist">0</td>
      <td id="ast_time">0</td>
      <td id="ast_vino">0</td>
      <td id="ast_viti">0</td>
    </tr>
    <tr>
      <td>Dijkstra's</td>
      <td id="dij_path">0</td>
      <td id="dij_dist">0</td>
      <td id="dij_time">0</td>
      <td id="dij_vino">0</td>
      <td id="dij_viti">0</td>
    </tr>
    <tr>
      <td>Depth First Search</td>
      <td id="dfs_path">0</td>
      <td id="dfs_dist">0</td>
      <td id="dfs_time">0</td>
      <td id="dfs_vino">0</td>
      <td id="dfs_viti">0</td>
    </tr>
    <tr>
      <td>Breadth First Search</td>
      <td id="bfs_path">0</td>
      <td id="bfs_dist">0</td>
      <td id="bfs_time">0</td>
      <td id="bfs_vino">0</td>
      <td id="bfs_viti">0</td>
    </tr>
  </table>
  <div style="display:none;" class="center">
    <div id="carouselExampleControls" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg
            id="floor-plan-1"
            class="data-svg"
            width="2448"
            height="1584"
            xmlns="http://www.w3.org/2000/svg"
          >
            <image href="/floor_plans/floor_1.png" />
            <circle cx="2254" cy="931" r="3" class="node" id="INT-4" />
            <circle cx="1897" cy="810" r="3" class="node" id="INT-7" />
            <circle cx="2319" cy="931" r="3" class="node" id="INT-9" />
            <circle cx="2319" cy="1120" r="3" class="node" id="INT-10" />
            <circle cx="2319" cy="994" r="3" class="node" id="INT-12" />
            <circle cx="2361" cy="1120" r="3" class="node" id="INT-13" />
            <circle cx="2361" cy="994" r="3" class="node" id="INT-14" />
            <circle cx="1201" cy="1027" r="3" class="node" id="INT-18" />
            <circle cx="367" cy="952" r="3" class="node" id="INT-26" />
            <circle cx="468" cy="952" r="3" class="node" id="INT-27" />
            <circle cx="300" cy="952" r="3" class="node" id="INT-29" />
            <circle cx="542" cy="952" r="3" class="node" id="INT-32" />
            <circle cx="542" cy="1051" r="3" class="node" id="L-103" />
            <circle cx="576" cy="1051" r="3" class="node" id="INT-34" />
            <circle cx="1131" cy="784" r="3" class="node" id="INT-38" />
            <circle cx="1361" cy="1027" r="3" class="node" id="INT-43" />
            <circle cx="1527" cy="1027" r="3" class="node" id="INT-44" />
            <circle cx="1553" cy="1027" r="3" class="node" id="INT-45" />
            <circle cx="1588" cy="1027" r="3" class="node" id="INT-46" />
            <circle cx="1645" cy="1027" r="3" class="node" id="INT-47" />
            <circle cx="1655" cy="1027" r="3" class="node" id="INT-48" />
            <circle cx="1655" cy="1096" r="3" class="node" id="INT-49" />
            <circle cx="1694" cy="1096" r="3" class="node" id="INT-50" />
            <circle cx="1672" cy="1096" r="3" class="node" id="INT-51" />
            <circle cx="1339" cy="1027" r="3" class="node" id="INT-52" />
            <circle cx="1361" cy="969" r="3" class="node" id="M-110" />
            <circle cx="1313" cy="969" r="3" class="node" id="INT-54" />
            <circle cx="1289" cy="969" r="3" class="node" id="INT-55" />
            <circle cx="1424" cy="969" r="3" class="node" id="INT-56" />
            <circle cx="1796" cy="823" r="3" class="node" id="INT-68" />
            <circle cx="1796" cy="1027" r="3" class="node" id="INT-69" />
            <circle cx="1796" cy="958" r="3" class="node" id="INT-70" />
            <circle cx="1796" cy="786" r="3" class="node" id="INT-71" />
            <circle cx="2254" cy="718" r="3" class="node" id="INT-72" />
            <circle cx="1897" cy="718" r="3" class="node" id="INT-73" />
            <circle cx="1796" cy="718" r="3" class="node" id="INT-74" />
            <circle cx="2254" cy="769" r="3" class="node" id="INT-75" />
            <circle cx="1897" cy="769" r="3" class="node" id="INT-76" />
            <circle cx="1796" cy="769" r="3" class="node" id="INT-77" />
            <circle cx="300" cy="767" r="3" class="node" id="INT-80" />
            <circle cx="699" cy="586" r="3" class="node" id="INT-82" />
            <circle cx="612" cy="952" r="3" class="node" id="INT-85" />
            <circle cx="1039" cy="508" r="3" class="node" id="INT-86" />
            <circle cx="1039" cy="373" r="3" class="node" id="KITCHEN-2" />
            <circle cx="1060" cy="373" r="3" class="node" id="INT-89" />
            <circle cx="1060" cy="329" r="3" class="node" id="INT-92" />
            <circle cx="1060" cy="338" r="3" class="node" id="INT-93" />
            <circle cx="782" cy="823" r="3" class="node" id="INT-94" />
            <circle cx="782" cy="508" r="3" class="node" id="INT-95" />
            <circle cx="782" cy="690" r="3" class="node" id="INT-96" />
            <circle cx="782" cy="373" r="3" class="node" id="KITCHEN-1" />
            <circle cx="782" cy="920" r="3" class="node" id="INT-98" />
            <circle cx="1089" cy="823" r="3" class="node" id="INT-99" />
            <circle cx="1089" cy="784" r="3" class="node" id="INT-100" />
            <circle cx="1089" cy="508" r="3" class="node" id="INT-101" />
            <circle cx="1089" cy="690" r="3" class="node" id="INT-102" />
            <circle cx="782" cy="863" r="3" class="node" id="BERLIN-GARDEN" />
            <circle cx="1089" cy="863" r="3" class="node" id="INT-104" />
            <circle cx="977" cy="920" r="3" class="node" id="INT-105" />
            <circle cx="977" cy="863" r="3" class="node" id="INT-106" />
            <circle cx="1645" cy="915" r="3" class="node" id="INT-107" />
            <circle cx="2254" cy="347" r="3" class="node" id="INT-108" />
            <circle cx="2254" cy="385" r="3" class="node" id="INT-109" />
            <circle cx="2254" cy="425" r="3" class="node" id="INT-111" />
            <circle cx="2254" cy="523" r="3" class="node" id="INT-115" />
            <circle cx="2254" cy="518" r="3" class="node" id="INT-116" />
            <circle cx="2254" cy="610" r="3" class="node" id="INT-119" />
            <circle cx="2254" cy="793" r="3" class="node" id="INT-120" />
            <circle cx="2254" cy="776" r="3" class="node" id="INT-121" />
            <circle cx="2254" cy="898" r="3" class="node" id="INT-122" />
            <circle cx="120" cy="1116" r="3" class="node" id="INT-123" />
            <circle cx="194" cy="1116" r="3" class="node" id="INT-124" />
            <circle cx="300" cy="1051" r="3" class="node" id="L-101" />
            <circle cx="194" cy="1051" r="3" class="node" id="INT-126" />
            <circle cx="120" cy="1040" r="3" class="node" id="INT-127" />
            <circle cx="249" cy="1051" r="3" class="node" id="INT-129" />
            <circle cx="249" cy="1019" r="3" class="node" id="INT-130" />
            <circle cx="1710" cy="1027" r="3" class="node" id="INT-131" />
            <circle cx="1897" cy="378" r="3" class="node" id="INT-132" />
            <circle cx="1897" cy="419" r="3" class="node" id="INT-134" />
            <circle cx="1897" cy="502" r="3" class="node" id="INT-135" />
            <circle cx="1897" cy="539" r="3" class="node" id="INT-137" />
            <circle cx="1897" cy="577" r="3" class="node" id="INT-138" />
            <circle cx="1897" cy="628" r="3" class="node" id="INT-139" />
            <circle cx="1925" cy="628" r="3" class="node" id="INT-140" />
            <circle cx="1897" cy="450" r="3" class="node" id="INT-141" />
            <circle cx="1929" cy="450" r="3" class="node" id="INT-142" />
            <circle cx="2054" cy="718" r="3" class="node" id="INT-143" />
            <circle cx="2054" cy="650" r="3" class="node" id="INT-144" />
            <circle cx="2054" cy="677" r="3" class="node" id="NURSE-US" />
            <circle cx="2124" cy="718" r="3" class="node" id="INT-146" />
            <circle cx="2226" cy="718" r="3" class="node" id="INT-147" />
            <circle cx="2254" cy="590" r="3" class="node" id="INT-148" />
            <circle cx="934" cy="1068" r="3" class="node" id="INT-149" />
            <circle cx="1060" cy="1068" r="3" class="node" id="INT-150" />
            <circle cx="1060" cy="1085" r="3" class="node" id="INT-151" />
            <circle cx="877" cy="1068" r="3" class="node" id="INT-152" />
            <circle cx="863" cy="1068" r="3" class="node" id="INT-153" />
            <circle cx="863" cy="1107" r="3" class="node" id="NURSE-LS" />
            <circle cx="972" cy="1068" r="3" class="node" id="INT-155" />
            <circle cx="1012" cy="1068" r="3" class="node" id="INT-156" />
            <circle cx="1038" cy="1068" r="3" class="node" id="INT-157" />
            <circle cx="1038" cy="984" r="3" class="node" id="INT-158" />
            <circle cx="1122" cy="984" r="3" class="node" id="INT-159" />
            <circle cx="542" cy="986" r="3" class="node" id="INT-160" />
            <circle cx="300" cy="992" r="3" class="node" id="INT-161" />
            <circle cx="1796" cy="899" r="3" class="node" id="INT-162" />
            <circle cx="934" cy="1175" r="3" class="node" id="EXIT-ANNEX" />
            <circle cx="1796" cy="1181" r="3" class="node" id="EXIT-101" />
            <circle cx="367" cy="1133" r="3" class="node" id="EXIT-LS" />
            <circle cx="120" cy="1185" r="3" class="node" id="EXIT-HM" />
            <circle cx="1868" cy="378" r="3" class="node" id="U-109" />
            <circle cx="2292" cy="347" r="3" class="node" id="U-114" />
            <circle cx="2291" cy="425" r="3" class="node" id="U-115" />
            <circle cx="2293" cy="518" r="3" class="node" id="U-117" />
            <circle cx="2281" cy="453" r="3" class="node" id="U-116" />
            <circle cx="2221" cy="610" r="3" class="node" id="U-111" />
            <circle cx="2227" cy="590" r="3" class="node" id="M-BATHROOM-1" />
            <circle cx="1201" cy="1183" r="3" class="node" id="EXIT-MS" />
            <circle cx="612" cy="885" r="3" class="node" id="L-104" />
            <circle cx="1089" cy="638" r="3" class="node" id="CAFETERIA-2" />
            <circle cx="1035" cy="690" r="3" class="node" id="CAFETERIA-1" />
            <circle cx="782" cy="778" r="3" class="node" id="CAFETERIA-3" />
            <circle cx="713" cy="508" r="3" class="node" id="CAFETERIA-4" />
            <circle cx="1869" cy="502" r="3" class="node" id="U-108" />
            <circle cx="1856" cy="539" r="3" class="node" id="U-106" />
            <circle cx="1863" cy="577" r="3" class="node" id="U-105" />
            <circle cx="1862" cy="628" r="3" class="node" id="U-104" />
            <circle cx="1273" cy="823" r="3" class="node" id="INT-163" />
            <circle cx="1431" cy="823" r="3" class="node" id="INT-164" />
            <circle cx="1273" cy="847" r="3" class="node" id="M-BATHROOM-2" />
            <circle cx="1431" cy="851" r="3" class="node" id="W-BATHROOM-2" />
            <circle cx="2254" cy="399" r="3" class="node" id="INT-165" />
            <circle cx="2228" cy="385" r="3" class="node" id="U-113" />
            <circle cx="2228" cy="399" r="3" class="node" id="W-BATHROOM-1" />
            <circle cx="1527" cy="1067" r="3" class="node" id="M-102" />
            <circle cx="1527" cy="987" r="3" class="node" id="M-109" />
            <circle cx="1553" cy="1069" r="3" class="node" id="M-103" />
            <circle cx="1553" cy="986" r="3" class="node" id="M-108" />
            <circle cx="1361" cy="1073" r="3" class="node" id="M-101" />
            <circle cx="1655" cy="1067" r="3" class="node" id="M-104" />
            <circle cx="1694" cy="1126" r="3" class="node" id="MS-PRINCIPAL" />
            <circle cx="1672" cy="1126" r="3" class="node" id="MS-ASSISTANT" />
            <circle cx="1339" cy="1069" r="3" class="node" id="M-100" />
            <circle cx="1313" cy="945" r="3" class="node" id="M-112" />
            <circle cx="1289" cy="946" r="3" class="node" id="M-111" />
            <circle cx="1588" cy="987" r="3" class="node" id="M-107" />
            <circle cx="1931" cy="539" r="3" class="node" id="U-107" />
            <circle cx="705" cy="756" r="3" class="node" id="M-BATHROOM-3" />
            <circle cx="712" cy="716" r="3" class="node" id="W-BATHROOM-3" />
            <circle cx="2254" cy="453" r="3" class="node" id="INT-166" />
            <circle cx="2231" cy="453" r="3" class="node" id="STAIR-H-E-1" />
            <circle cx="185" cy="767" r="3" class="node" id="L-105B" />
            <circle cx="1622" cy="915" r="3" class="node" id="M-106" />
            <circle cx="1932" cy="810" r="3" class="node" id="HAWLEY-1" />
            <circle cx="1897" cy="846" r="3" class="node" id="U-103" />
            <circle cx="1868" cy="899" r="3" class="node" id="U-102" />
            <circle cx="2300" cy="793" r="3" class="node" id="U-120" />
            <circle cx="2285" cy="776" r="3" class="node" id="U-119" />
            <circle cx="2361" cy="914" r="3" class="node" id="STAIR-H-G-1" />
            <circle cx="576" cy="1116" r="3" class="node" id="LS-PRINCIPAL" />
            <circle cx="542" cy="1111" r="3" class="node" id="LS-ASSISTANT" />
            <circle cx="972" cy="1100" r="3" class="node" id="A-104" />
            <circle cx="1162" cy="784" r="3" class="node" id="N-101A" />
            <circle cx="1131" cy="670" r="3" class="node" id="N-101" />
            <circle cx="300" cy="877" r="3" class="node" id="INT-167" />
            <circle cx="468" cy="877" r="3" class="node" id="INT-168" />
            <circle cx="546" cy="877" r="3" class="node" id="L-105A" />
            <circle cx="468" cy="1056" r="3" class="node" id="L-102" />
            <circle cx="194" cy="1080" r="3" class="node" id="HEAD-OFFICE" />
            <circle cx="194" cy="1019" r="3" class="node" id="HEAD-CONF" />
            <circle cx="171" cy="952" r="3" class="node" id="ADMISSIONS" />
            <circle cx="300" cy="1026" r="3" class="node" id="INT-169" />
            <circle cx="367" cy="1026" r="3" class="node" id="INT-170" />
            <circle cx="468" cy="1026" r="3" class="node" id="INT-171" />
            <circle cx="542" cy="1026" r="3" class="node" id="INT-172" />
            <circle cx="1991" cy="1120" r="3" class="node" id="MANUAL-INT-1" />
            <circle cx="1925" cy="659" r="3" class="node" id="STAIR-H-B-1" />
            <circle cx="1929" cy="464" r="3" class="node" id="STAIR-H-C-1" />
            <circle cx="2226" cy="682" r="3" class="node" id="STAIR-H-D-1" />
            <circle cx="1747" cy="786" r="3" class="node" id="STAIR-H-F-1" />
            <circle cx="1710" cy="951" r="3" class="node" id="STAIR-M-B-1" />
            <circle cx="1236" cy="823" r="3" class="node" id="INT-173" />
            <circle cx="1236" cy="991" r="3" class="node" id="INT-174" />
            <circle cx="1236" cy="1027" r="3" class="node" id="INT-175" />
            <circle cx="1236" cy="947" r="3" class="node" id="INT-176" />
            <circle cx="1236" cy="906" r="3" class="node" id="STAIR-M-A-1" />
            <circle cx="1122" cy="950" r="3" class="node" id="STAIR-E-A-1" />
            <circle cx="877" cy="1036" r="3" class="node" id="A-101" />
            <circle cx="1012" cy="1032" r="3" class="node" id="A-102" />
            <circle cx="764" cy="1068" r="3" class="node" id="INT-177" />
            <circle cx="764" cy="1144" r="3" class="node" id="INT-178" />
            <circle cx="743" cy="1144" r="3" class="node" id="INT-179" />
            <circle cx="743" cy="1131" r="3" class="node" id="STAIR-E-B-1" />
            <circle cx="1723" cy="253" r="3" class="node" id="EXIT-STAIR-N-B" />
            <circle cx="1723" cy="365" r="3" class="node" id="STAIR-N-B-1" />
            <circle cx="1060" cy="257" r="3" class="node" id="EXIT-KITCHEN" />
            <circle cx="1897" cy="275" r="3" class="node" id="EXIT-US-WEST" />
            <circle cx="2254" cy="273" r="3" class="node" id="EXIT-US-EAST" />
            <circle cx="1796" cy="1052" r="3" class="node" id="INT-189" />
            <circle cx="1878" cy="958" r="3" class="node" id="INT-190" />
            <circle cx="1878" cy="979" r="3" class="node" id="U-101" />
            <circle cx="1908" cy="1052" r="3" class="node" id="HAWLEY-2" />
            <circle cx="2264" cy="1120" r="3" class="node" id="INT-192" />
            <circle cx="2264" cy="1058" r="3" class="node" id="HAWLEY-3" />
            <circle cx="2319" cy="955" r="3" class="node" id="INT-193" />
            <circle cx="1870" cy="810" r="3" class="node" id="STAIR-H-A-1" />
            <circle cx="1857" cy="419" r="3" class="node" id="U-108A" />
            <circle cx="1754" cy="419" r="3" class="node" id="TRASH-ROOM" />
            <circle cx="2291" cy="994" r="3" class="node" id="U-121" />
            <circle cx="2230" cy="523" r="3" class="node" id="U-112" />
            <circle cx="2291" cy="610" r="3" class="node" id="U-118" />
            <circle cx="1881" cy="1052" r="3" class="node" id="MANUAL-INT-2" />
            <circle cx="672" cy="823" r="3" class="node" id="INT-194" />
            <circle cx="672" cy="508" r="3" class="node" id="INT-195" />
            <circle cx="672" cy="586" r="3" class="node" id="INT-196" />
            <circle cx="672" cy="716" r="3" class="node" id="INT-197" />
            <circle cx="672" cy="756" r="3" class="node" id="INT-198" />
            <circle cx="672" cy="952" r="3" class="node" id="INT-199" />
            <circle cx="672" cy="1176" r="3" class="node" id="EXIT-LINK" />
            <circle cx="672" cy="373" r="3" class="node" id="STAIR-N-A-1" />
            <circle cx="672" cy="255" r="3" class="node" id="EXIT-STAIR-N-A" />
            <circle cx="573" cy="986" r="3" class="node" id="STAIR-L-A-1" />
            <circle cx="271" cy="992" r="3" class="node" id="STAIR-C-L-1" />
            <circle cx="698" cy="1068" r="3" class="node" id="STAIR-N-D-1" />
            <circle cx="672" cy="1130" r="3" class="node" id="INT-202" />
            <circle cx="698" cy="1130" r="3" class="node" id="INT-203" />
          </svg>
        </div>
        <div class="carousel-item">
          <svg
            id="floor-plan-2"
            class="data-svg"
            width="2448"
            height="1584"
            xmlns="http://www.w3.org/2000/svg"
          >
            <image href="/floor_plans/floor_2.png" />
            <circle cx="2257" cy="425" r="3" class="node" id="INT-0-2" />
            <circle cx="2257" cy="1090" r="3" class="node" id="INT-1-2" />
            <circle cx="1931" cy="1090" r="3" class="node" id="INT-2-2" />
            <circle cx="1931" cy="1122" r="3" class="node" id="INT-3-2" />
            <circle cx="1895" cy="1122" r="3" class="node" id="INT-4-2" />
            <circle cx="1888" cy="1122" r="3" class="node" id="INT-5-2" />
            <circle cx="1888" cy="1045" r="3" class="node" id="INT-6-2" />
            <circle cx="1217" cy="1045" r="3" class="node" id="M-212" />
            <circle cx="1649" cy="1045" r="3" class="node" id="INT-8-2" />
            <circle cx="1649" cy="824" r="3" class="node" id="INT-9-2" />
            <circle cx="1649" cy="771" r="3" class="node" id="INT-10-2" />
            <circle cx="1239" cy="1045" r="3" class="node" id="INT-11-2" />
            <circle cx="1239" cy="824" r="3" class="node" id="INT-12-2" />
            <circle cx="1239" cy="771" r="3" class="node" id="INT-13-2" />
            <circle cx="777" cy="824" r="3" class="node" id="INT-15-2" />
            <circle cx="777" cy="771" r="3" class="node" id="INT-16-2" />
            <circle cx="1450" cy="1045" r="3" class="node" id="INT-17-2" />
            <circle cx="1427" cy="1045" r="3" class="node" id="INT-18-2" />
            <circle cx="1695" cy="685" r="3" class="node" id="INT-19-2" />
            <circle cx="1662" cy="425" r="3" class="node" id="INT-20-2" />
            <circle cx="1662" cy="685" r="3" class="node" id="INT-21-2" />
            <circle cx="1239" cy="741" r="3" class="node" id="INT-22-2" />
            <circle cx="1662" cy="741" r="3" class="node" id="INT-23-2" />
            <circle cx="1181" cy="425" r="3" class="node" id="INT-26-2" />
            <circle cx="1181" cy="685" r="3" class="node" id="INT-27-2" />
            <circle cx="1536" cy="425" r="3" class="node" id="INT-34-2" />
            <circle cx="1536" cy="685" r="3" class="node" id="INT-35-2" />
            <circle cx="664" cy="425" r="3" class="node" id="INT-37-2" />
            <circle cx="664" cy="685" r="3" class="node" id="INT-38-2" />
            <circle cx="664" cy="1077" r="3" class="node" id="INT-39-2" />
            <circle cx="1116" cy="1077" r="3" class="node" id="INT-40-2" />
            <circle cx="1753" cy="1045" r="3" class="node" id="INT-43-2" />
            <circle cx="2257" cy="1032" r="3" class="node" id="INT-44-2" />
            <circle cx="2257" cy="1009" r="3" class="node" id="INT-45-2" />
            <circle cx="2257" cy="883" r="3" class="node" id="INT-46-2" />
            <circle cx="2257" cy="784" r="3" class="node" id="INT-47-2" />
            <circle cx="2060" cy="425" r="3" class="node" id="INT-48-2" />
            <circle cx="1894" cy="425" r="3" class="node" id="INT-49-2" />
            <circle cx="2257" cy="721" r="3" class="node" id="INT-52-2" />
            <circle cx="1894" cy="721" r="3" class="node" id="INT-53-2" />
            <circle cx="1836" cy="721" r="3" class="node" id="INT-54-2" />
            <circle cx="1836" cy="825" r="3" class="node" id="INT-55-2" />
            <circle cx="1798" cy="1045" r="3" class="node" id="INT-56-2" />
            <circle cx="1798" cy="825" r="3" class="node" id="INT-57-2" />
            <circle cx="1798" cy="725" r="3" class="node" id="INT-58-2" />
            <circle cx="1750" cy="685" r="3" class="node" id="INT-59-2" />
            <circle cx="1750" cy="725" r="3" class="node" id="INT-60-2" />
            <circle cx="1662" cy="640" r="3" class="node" id="INT-61-2" />
            <circle cx="1744" cy="425" r="3" class="node" id="INT-62-2" />
            <circle cx="1744" cy="640" r="3" class="node" id="US-COAT-ROOM" />
            <circle cx="1231" cy="685" r="3" class="node" id="INT-64-2" />
            <circle cx="1231" cy="707" r="3" class="node" id="INT-65-2" />
            <circle cx="664" cy="1003" r="3" class="node" id="INT-66-2" />
            <circle cx="294" cy="926" r="3" class="node" id="INT-69-2" />
            <circle cx="294" cy="874" r="3" class="node" id="INT-70-2" />
            <circle cx="262" cy="874" r="3" class="node" id="INT-71-2" />
            <circle cx="262" cy="861" r="3" class="node" id="INT-72-2" />
            <circle cx="245" cy="861" r="3" class="node" id="INT-73-2" />
            <circle cx="245" cy="850" r="3" class="node" id="INT-74-2" />
            <circle cx="500" cy="1003" r="3" class="node" id="INT-75-2" />
            <circle cx="490" cy="1003" r="3" class="node" id="INT-76-2" />
            <circle cx="536" cy="1003" r="3" class="node" id="INT-77-2" />
            <circle cx="335" cy="1003" r="3" class="node" id="INT-79-2" />
            <circle cx="335" cy="926" r="3" class="node" id="L-206" />
            <circle cx="817" cy="1077" r="3" class="node" id="INT-81-2" />
            <circle cx="846" cy="1077" r="3" class="node" id="INT-82-2" />
            <circle cx="1036" cy="1077" r="3" class="node" id="INT-83-2" />
            <circle cx="1051" cy="1077" r="3" class="node" id="INT-84-2" />
            <circle cx="1095" cy="1077" r="3" class="node" id="INT-85-2" />
            <circle cx="782" cy="1077" r="3" class="node" id="INT-86-2" />
            <circle cx="1372" cy="685" r="3" class="node" id="INT-87-2" />
            <circle cx="1372" cy="650" r="3" class="node" id="INT-88-2" />
            <circle cx="1398" cy="425" r="3" class="node" id="INT-89-2" />
            <circle cx="1340" cy="425" r="3" class="node" id="INT-90-2" />
            <circle cx="1246" cy="425" r="3" class="node" id="INT-91-2" />
            <circle cx="1228" cy="425" r="3" class="node" id="INT-92-2" />
            <circle cx="1181" cy="564" r="3" class="node" id="INT-93-2" />
            <circle cx="1181" cy="591" r="3" class="node" id="INT-94-2" />
            <circle cx="1088" cy="685" r="3" class="node" id="INT-99-2" />
            <circle cx="763" cy="425" r="3" class="node" id="INT-100-2" />
            <circle cx="692" cy="425" r="3" class="node" id="INT-101-2" />
            <circle cx="664" cy="596" r="3" class="node" id="INT-102-2" />
            <circle cx="691" cy="596" r="3" class="node" id="INT-103-2" />
            <circle cx="777" cy="729" r="3" class="node" id="INT-104-2" />
            <circle cx="664" cy="729" r="3" class="node" id="INT-105-2" />
            <circle cx="1362" cy="1045" r="3" class="node" id="INT-106-2" />
            <circle cx="1427" cy="993" r="3" class="node" id="INT-107-2" />
            <circle cx="1450" cy="995" r="3" class="node" id="INT-108-2" />
            <circle cx="1516" cy="1045" r="3" class="node" id="INT-109-2" />
            <circle cx="1614" cy="1045" r="3" class="node" id="INT-110-2" />
            <circle cx="1640" cy="1045" r="3" class="node" id="INT-111-2" />
            <circle cx="1261" cy="1045" r="3" class="node" id="INT-112-2" />
            <circle cx="1181" cy="623" r="3" class="node" id="INT-113-2" />
            <circle cx="1884" cy="425" r="3" class="node" id="INT-114-2" />
            <circle cx="1884" cy="386" r="3" class="node" id="INT-115-2" />
            <circle cx="2163" cy="425" r="3" class="node" id="INT-116-2" />
            <circle cx="2210" cy="425" r="3" class="node" id="INT-117-2" />
            <circle cx="2076" cy="425" r="3" class="node" id="INT-118-2" />
            <circle cx="2046" cy="425" r="3" class="node" id="INT-119-2" />
            <circle cx="1894" cy="480" r="3" class="node" id="INT-120-2" />
            <circle cx="1894" cy="472" r="3" class="node" id="INT-121-2" />
            <circle cx="1894" cy="510" r="3" class="node" id="INT-122-2" />
            <circle cx="1894" cy="547" r="3" class="node" id="INT-123-2" />
            <circle cx="1894" cy="593" r="3" class="node" id="INT-124-2" />
            <circle cx="1894" cy="636" r="3" class="node" id="INT-125-2" />
            <circle cx="1894" cy="688" r="3" class="node" id="INT-126-2" />
            <circle cx="1894" cy="694" r="3" class="node" id="INT-128-2" />
            <circle cx="2049" cy="1090" r="3" class="node" id="INT-129-2" />
            <circle cx="1902" cy="721" r="3" class="node" id="INT-130-2" />
            <circle cx="2257" cy="1060" r="3" class="node" id="INT-131-2" />
            <circle cx="1888" cy="1060" r="3" class="node" id="INT-132-2" />
            <circle cx="1068" cy="824" r="3" class="node" id="INT-133-2" />
            <circle cx="1068" cy="883" r="3" class="node" id="INT-134-2" />
            <circle cx="1543" cy="425" r="3" class="node" id="INT-135-2" />
            <circle cx="1543" cy="388" r="3" class="node" id="N-200" />
            <circle cx="1507" cy="388" r="3" class="node" id="INT-137-2" />
            <circle cx="1486" cy="388" r="3" class="node" id="INT-138-2" />
            <circle cx="1393" cy="388" r="3" class="node" id="INT-139-2" />
            <circle cx="1306" cy="425" r="3" class="node" id="INT-140-2" />
            <circle cx="1100" cy="425" r="3" class="node" id="INT-141-2" />
            <circle cx="892" cy="425" r="3" class="node" id="INT-142-2" />
            <circle cx="796" cy="425" r="3" class="node" id="INT-143-2" />
            <circle cx="1649" cy="881" r="3" class="node" id="INT-144-2" />
            <circle cx="892" cy="396" r="3" class="node" id="N-207" />
            <circle cx="796" cy="394" r="3" class="node" id="N-208" />
            <circle cx="1306" cy="389" r="3" class="node" id="N-203" />
            <circle
              cx="1393"
              cy="317"
              r="3"
              class="node"
              id="US-ASSISTANT-PRINCIPAL"
            />
            <circle
              cx="1373"
              cy="388"
              r="3"
              class="node"
              id="US-CONFERENCE-ROOM"
            />
            <circle cx="1486" cy="320" r="3" class="node" id="US-PRINCIPAL" />
            <circle
              cx="1507"
              cy="315"
              r="3"
              class="node"
              id="US-DEAN-OF-STUDENT-LIFE"
            />
            <circle cx="1398" cy="463" r="3" class="node" id="N-201-1" />
            <circle cx="1406" cy="650" r="3" class="node" id="N-201-2" />
            <circle cx="1345" cy="650" r="3" class="node" id="N-215" />
            <circle cx="1214" cy="623" r="3" class="node" id="N-213" />
            <circle cx="1126" cy="591" r="3" class="node" id="M-BATHROOM-4" />
            <circle cx="1130" cy="564" r="3" class="node" id="W-BATHROOM-4" />
            <circle cx="763" cy="453" r="3" class="node" id="N-212-1" />
            <circle cx="1088" cy="642" r="3" class="node" id="N-212-2" />
            <circle cx="536" cy="919" r="3" class="node" id="L-204" />
            <circle cx="536" cy="1047" r="3" class="node" id="L-203" />
            <circle cx="500" cy="1039" r="3" class="node" id="L-202" />
            <circle cx="490" cy="924" r="3" class="node" id="L-205" />
            <circle cx="335" cy="1042" r="3" class="node" id="L-201" />
            <circle cx="817" cy="1094" r="3" class="node" id="A-204" />
            <circle cx="846" cy="1051" r="3" class="node" id="A-200" />
            <circle cx="1036" cy="1050" r="3" class="node" id="A-201" />
            <circle cx="1051" cy="1098" r="3" class="node" id="A-203" />
            <circle cx="1095" cy="1101" r="3" class="node" id="A-202" />
            <circle cx="1239" cy="1086" r="3" class="node" id="M-200" />
            <circle cx="1261" cy="1071" r="3" class="node" id="M-201" />
            <circle cx="1261" cy="976" r="3" class="node" id="M-211" />
            <circle cx="1362" cy="1009" r="3" class="node" id="M-BATHROOM-5" />
            <circle cx="1427" cy="1070" r="3" class="node" id="M-202" />
            <circle cx="1450" cy="1075" r="3" class="node" id="M-203" />
            <circle cx="1427" cy="970" r="3" class="node" id="M-209" />
            <circle cx="1450" cy="971" r="3" class="node" id="M-208" />
            <circle cx="1614" cy="969" r="3" class="node" id="M-206" />
            <circle cx="1614" cy="1075" r="3" class="node" id="M-204" />
            <circle cx="1640" cy="1076" r="3" class="node" id="M-205" />
            <circle cx="1753" cy="1077" r="3" class="node" id="U-230" />
            <circle cx="1662" cy="539" r="3" class="node" id="INT-147-2" />
            <circle cx="1536" cy="539" r="3" class="node" id="INT-148-2" />
            <circle cx="1598" cy="539" r="3" class="node" id="US-SWAMP" />
            <circle cx="1912" cy="386" r="3" class="node" id="U-207" />
            <circle cx="1857" cy="386" r="3" class="node" id="U-206" />
            <circle cx="2060" cy="392" r="3" class="node" id="U-208" />
            <circle cx="2163" cy="388" r="3" class="node" id="U-210" />
            <circle cx="2076" cy="456" r="3" class="node" id="U-211" />
            <circle cx="2046" cy="455" r="3" class="node" id="U-209" />
            <circle cx="2210" cy="388" r="3" class="node" id="U-212" />
            <circle cx="2257" cy="388" r="3" class="node" id="U-213" />
            <circle cx="2257" cy="622" r="3" class="node" id="INT-150-2" />
            <circle cx="2300" cy="622" r="3" class="node" id="INT-151-2" />
            <circle cx="2288" cy="622" r="3" class="node" id="INT-152-2" />
            <circle cx="2288" cy="596" r="3" class="node" id="U-214-1" />
            <circle cx="2288" cy="425" r="3" class="node" id="U-214-2" />
            <circle cx="2285" cy="784" r="3" class="node" id="U-219" />
            <circle cx="2293" cy="883" r="3" class="node" id="U-220" />
            <circle cx="2288" cy="1009" r="3" class="node" id="U-221" />
            <circle cx="2286" cy="1032" r="3" class="node" id="U-222" />
            <circle cx="2257" cy="1126" r="3" class="node" id="U-223" />
            <circle cx="2176" cy="1090" r="3" class="node" id="INT-153-2" />
            <circle cx="2176" cy="1115" r="3" class="node" id="U-224" />
            <circle cx="2049" cy="1122" r="3" class="node" id="U-225" />
            <circle cx="1931" cy="1147" r="3" class="node" id="U-226" />
            <circle cx="1895" cy="1148" r="3" class="node" id="U-227" />
            <circle cx="1857" cy="1122" r="3" class="node" id="U-228" />
            <circle cx="1888" cy="1011" r="3" class="node" id="U-229" />
            <circle cx="1902" cy="753" r="3" class="node" id="U-200" />
            <circle cx="2002" cy="721" r="3" class="node" id="INT-154-2" />
            <circle cx="2002" cy="685" r="3" class="node" id="U-218" />
            <circle cx="2257" cy="652" r="3" class="node" id="INT-155-2" />
            <circle cx="2229" cy="652" r="3" class="node" id="U-216" />
            <circle cx="2257" cy="607" r="3" class="node" id="INT-156-2" />
            <circle cx="2220" cy="607" r="3" class="node" id="U-215" />
            <circle cx="1832" cy="472" r="3" class="node" id="U-205" />
            <circle cx="1863" cy="510" r="3" class="node" id="U-204" />
            <circle cx="1866" cy="547" r="3" class="node" id="U-202" />
            <circle cx="1858" cy="636" r="3" class="node" id="U-201" />
            <circle cx="692" cy="476" r="3" class="node" id="N-209" />
            <circle cx="691" cy="571" r="3" class="node" id="N-210" />
            <circle cx="691" cy="631" r="3" class="node" id="N-211" />
            <circle cx="536" cy="991" r="3" class="node" id="INT-158-2" />
            <circle cx="575" cy="991" r="3" class="node" id="STAIR-L-A-2" />
            <circle cx="335" cy="979" r="3" class="node" id="INT-159-2" />
            <circle cx="302" cy="979" r="3" class="node" id="STAIR-C-L-2" />
            <circle cx="664" cy="1027" r="3" class="node" id="STAIR-N-D-2" />
            <circle cx="664" cy="388" r="3" class="node" id="STAIR-N-A-2" />
            <circle cx="1195" cy="707" r="3" class="node" id="STAIR-N-C-2" />
            <circle cx="1744" cy="390" r="3" class="node" id="STAIR-N-B-2" />
            <circle cx="1239" cy="952" r="3" class="node" id="STAIR-M-A-2" />
            <circle cx="1116" cy="952" r="3" class="node" id="STAIR-E-A-2" />
            <circle cx="1686" cy="881" r="3" class="node" id="STAIR-M-B-2" />
            <circle cx="1695" cy="723" r="3" class="node" id="STAIR-H-F-2" />
            <circle cx="1930" cy="688" r="3" class="node" id="STAIR-H-B-2" />
            <circle cx="1926" cy="480" r="3" class="node" id="STAIR-H-C-2" />
            <circle cx="2257" cy="477" r="3" class="node" id="INT-162-2" />
            <circle cx="2228" cy="477" r="3" class="node" id="STAIR-H-E-2" />
            <circle cx="2257" cy="690" r="3" class="node" id="INT-163-2" />
            <circle cx="2226" cy="690" r="3" class="node" id="STAIR-H-D-2" />
            <circle cx="2257" cy="908" r="3" class="node" id="INT-164-2" />
            <circle cx="2291" cy="908" r="3" class="node" id="STAIR-H-H-2" />
          </svg>
        </div>
        <div class="carousel-item">
          <svg
            id="floor-plan"
            class="data-svg"
            width="2448"
            height="1584"
            xmlns="http://www.w3.org/2000/svg"
          >
            <image href="/floor_plans/floor_3.png" />
            <circle cx="1734" cy="639" r="3" class="node" id="INT-2-3" />
            <circle cx="1734" cy="426" r="3" class="node" id="INT-3-3" />
            <circle cx="1183" cy="639" r="3" class="node" id="INT-5-3" />
            <circle cx="1183" cy="426" r="3" class="node" id="INT-6-3" />
            <circle cx="1734" cy="700" r="3" class="node" id="INT-8-3" />
            <circle cx="2360" cy="1164" r="3" class="node" id="INT-10-3" />
            <circle cx="1747" cy="1164" r="3" class="node" id="INT-12-3" />
            <circle cx="1747" cy="1150" r="3" class="node" id="INT-13-3" />
            <circle cx="1704" cy="1150" r="3" class="node" id="INT-14-3" />
            <circle cx="1704" cy="1120" r="3" class="node" id="M-300-2" />
            <circle cx="1272" cy="1120" r="3" class="node" id="INT-18-3" />
            <circle cx="1272" cy="989" r="3" class="node" id="M-300-3" />
            <circle cx="1232" cy="989" r="3" class="node" id="INT-21-3" />
            <circle cx="1704" cy="888" r="3" class="node" id="M-300-1" />
            <circle cx="1272" cy="888" r="3" class="node" id="INT-23-3" />
            <circle cx="1748" cy="700" r="3" class="node" id="INT-24-3" />
            <circle cx="1748" cy="888" r="3" class="node" id="INT-25-3" />
            <circle cx="2360" cy="765" r="3" class="node" id="INT-27-3" />
            <circle cx="2304" cy="765" r="3" class="node" id="U-300-3" />
            <circle cx="2304" cy="1134" r="3" class="node" id="INT-30-3" />
            <circle cx="1876" cy="1164" r="3" class="node" id="INT-31-3" />
            <circle cx="1876" cy="1134" r="3" class="node" id="U-300-2" />
            <circle cx="2360" cy="1117" r="3" class="node" id="INT-33-3" />
            <circle cx="2304" cy="1117" r="3" class="node" id="INT-34-3" />
            <circle cx="2360" cy="933" r="3" class="node" id="INT-35-3" />
            <circle cx="2304" cy="933" r="3" class="node" id="INT-36-3" />
            <circle cx="2360" cy="713" r="3" class="node" id="INT-38-3" />
            <circle cx="1329" cy="426" r="3" class="node" id="INT-39-3" />
            <circle cx="1447" cy="426" r="3" class="node" id="INT-40-3" />
            <circle cx="1563" cy="426" r="3" class="node" id="INT-41-3" />
            <circle cx="1564" cy="639" r="3" class="node" id="INT-42-3" />
            <circle cx="1449" cy="639" r="3" class="node" id="INT-43-3" />
            <circle cx="1209" cy="639" r="3" class="node" id="INT-44-3" />
            <circle cx="1329" cy="639" r="3" class="node" id="INT-45-3" />
            <circle cx="1308" cy="639" r="3" class="node" id="INT-46-3" />
            <circle cx="1094" cy="639" r="3" class="node" id="INT-47-3" />
            <circle cx="986" cy="639" r="3" class="node" id="INT-48-3" />
            <circle cx="891" cy="639" r="3" class="node" id="INT-49-3" />
            <circle cx="692" cy="639" r="3" class="node" id="INT-50-3" />
            <circle cx="790" cy="639" r="3" class="node" id="INT-51-3" />
            <circle cx="792" cy="426" r="3" class="node" id="INT-52-3" />
            <circle cx="889" cy="426" r="3" class="node" id="INT-53-3" />
            <circle cx="987" cy="426" r="3" class="node" id="INT-54-3" />
            <circle cx="1096" cy="426" r="3" class="node" id="INT-55-3" />
            <circle cx="1258" cy="426" r="3" class="node" id="INT-56-3" />
            <circle cx="502" cy="990" r="3" class="node" id="INT-58-3" />
            <circle cx="527" cy="990" r="3" class="node" id="INT-60-3" />
            <circle cx="502" cy="972" r="3" class="node" id="INT-66-3" />
            <circle cx="336" cy="972" r="3" class="node" id="INT-67-3" />
            <circle cx="314" cy="972" r="3" class="node" id="INT-68-3" />
            <circle cx="314" cy="926" r="3" class="node" id="INT-69-3" />
            <circle cx="290" cy="926" r="3" class="node" id="L-308" />
            <circle cx="290" cy="836" r="3" class="node" id="INT-71-3" />
            <circle cx="936" cy="1153" r="3" class="node" id="INT-72-3" />
            <circle cx="936" cy="990" r="3" class="node" id="INT-73-3" />
            <circle cx="1124" cy="990" r="3" class="node" id="INT-74-3" />
            <circle cx="1099" cy="990" r="3" class="node" id="INT-75-3" />
            <circle cx="891" cy="667" r="3" class="node" id="N-322" />
            <circle cx="986" cy="668" r="3" class="node" id="N-323" />
            <circle cx="1094" cy="662" r="3" class="node" id="N-325" />
            <circle cx="1094" cy="605" r="3" class="node" id="N-312-1" />
            <circle cx="986" cy="609" r="3" class="node" id="N-324" />
            <circle cx="790" cy="605" r="3" class="node" id="N-321" />
            <circle cx="692" cy="664" r="3" class="node" id="N-320" />
            <circle cx="1209" cy="667" r="3" class="node" id="N-326" />
            <circle cx="1308" cy="612" r="3" class="node" id="N-307-1" />
            <circle cx="792" cy="447" r="3" class="node" id="N-317" />
            <circle cx="792" cy="392" r="3" class="node" id="N-316" />
            <circle cx="889" cy="390" r="3" class="node" id="N-315" />
            <circle cx="987" cy="395" r="3" class="node" id="N-314" />
            <circle cx="1096" cy="394" r="3" class="node" id="N-313" />
            <circle cx="1161" cy="426" r="3" class="node" id="INT-76-3" />
            <circle cx="1161" cy="392" r="3" class="node" id="N-310" />
            <circle cx="1258" cy="392" r="3" class="node" id="N-308" />
            <circle cx="1329" cy="393" r="3" class="node" id="N-307" />
            <circle cx="1447" cy="395" r="3" class="node" id="N-305" />
            <circle cx="1563" cy="393" r="3" class="node" id="N-301" />
            <circle cx="1563" cy="452" r="3" class="node" id="N-302-1" />
            <circle cx="1564" cy="612" r="3" class="node" id="N-302-2" />
            <circle cx="1564" cy="669" r="3" class="node" id="N-330" />
            <circle cx="1449" cy="670" r="3" class="node" id="N-329" />
            <circle cx="1449" cy="611" r="3" class="node" id="N-304-1" />
            <circle cx="1447" cy="452" r="3" class="node" id="N-304-2" />
            <circle cx="1329" cy="566" r="3" class="node" id="N-306-2" />
            <circle cx="1329" cy="451" r="3" class="node" id="N-306-1" />
            <circle cx="1096" cy="450" r="3" class="node" id="N-312-2" />
            <circle cx="1092" cy="990" r="3" class="node" id="INT-80-3" />
            <circle cx="1092" cy="954" r="3" class="node" id="STAIR-E-A-3" />
            <circle cx="1232" cy="955" r="3" class="node" id="STAIR-M-A-3" />
            <circle cx="661" cy="639" r="3" class="node" id="INT-81-3" />
            <circle cx="661" cy="426" r="3" class="node" id="INT-82-3" />
            <circle cx="661" cy="990" r="3" class="node" id="STAIR-N-D-3" />
            <circle cx="661" cy="1075" r="3" class="node" id="INT-84-3" />
            <circle cx="661" cy="388" r="3" class="node" id="STAIR-N-A-3" />
            <circle cx="527" cy="1069" r="3" class="node" id="L-304" />
            <circle cx="527" cy="897" r="3" class="node" id="L-305" />
            <circle cx="502" cy="898" r="3" class="node" id="L-306" />
            <circle cx="502" cy="1055" r="3" class="node" id="L-303" />
            <circle cx="336" cy="920" r="3" class="node" id="L-307" />
            <circle cx="336" cy="1034" r="3" class="node" id="L-302" />
            <circle cx="314" cy="1024" r="3" class="node" id="L-301" />
            <circle cx="194" cy="836" r="3" class="node" id="L-309" />
            <circle cx="1799" cy="700" r="3" class="node" id="INT-85-3" />
            <circle cx="1799" cy="765" r="3" class="node" id="U-300-1" />
            <circle cx="1799" cy="1134" r="3" class="node" id="INT-87-3" />
            <circle cx="1799" cy="713" r="3" class="node" id="INT-88-3" />
            <circle cx="1329" cy="666" r="3" class="node" id="N-327" />
            <circle cx="1183" cy="731" r="3" class="node" id="STAIR-N-C-3" />
            <circle cx="1734" cy="396" r="3" class="node" id="STAIR-N-B-3" />
            <circle cx="2217" cy="647" r="3" class="node" id="US-LIBRARY-3" />
            <circle cx="2217" cy="500" r="3" class="node" id="US-LIBRARY-4" />
            <circle cx="2217" cy="487" r="3" class="node" id="STAIR-H-E-3" />
            <circle cx="2217" cy="671" r="3" class="node" id="STAIR-H-D-3" />
            <circle cx="1734" cy="481" r="3" class="node" id="INT-95-3" />
            <circle cx="1734" cy="601" r="3" class="node" id="INT-96-3" />
            <circle cx="1887" cy="647" r="3" class="node" id="INT-98-3" />
            <circle cx="1887" cy="500" r="3" class="node" id="INT-99-3" />
            <circle cx="1887" cy="481" r="3" class="node" id="INT-100-3" />
            <circle cx="1887" cy="601" r="3" class="node" id="INT-101-3" />
            <circle cx="1788" cy="481" r="3" class="node" id="US-LIBRARY-1" />
            <circle cx="1788" cy="601" r="3" class="node" id="US-LIBRARY-2" />
            <circle cx="1124" cy="957" r="3" class="node" id="M-BATHROOM-7" />
            <circle cx="1124" cy="1012" r="3" class="node" id="W-BATHROOM-7" />
            <circle cx="1183" cy="541" r="3" class="node" id="INT-102-3" />
            <circle cx="1183" cy="568" r="3" class="node" id="INT-103-3" />
            <circle cx="1142" cy="568" r="3" class="node" id="M-BATHROOM-6" />
            <circle cx="1139" cy="541" r="3" class="node" id="W-BATHROOM-6" />
            <circle cx="314" cy="1001" r="3" class="node" id="INT-104-3" />
            <circle cx="295" cy="1001" r="3" class="node" id="STAIR-C-L-3" />
            <circle cx="1695" cy="700" r="3" class="node" id="STAIR-H-F-3" />
          </svg>
        </div>
        <div class="carousel-item">
          <svg id="floor-plan-4" class="data-svg" width="2448" height="1584" xmlns="http://www.w3.org/2000/svg" style="cursor: none;">
            <image href="/floor_plans/floor_4.png"/>
            <line x1="713" y1="360" x2="1681" y2="360" class="line"/><line x1="1650" y1="342" x2="1650" y2="738" class="line"/><line x1="673" y1="731" x2="1695" y2="731" class="line"/><line x1="673" y1="713" x2="673" y2="997" class="line"/><line x1="760" y1="343" x2="760" y2="745" class="line"/><line x1="1645" y1="414" x2="1699" y2="414" class="line"/><circle cx="1650" cy="360" r="3" class="node" id="TURF-2"/><circle cx="1650" cy="731" r="3" class="node" id="TURF-3"/><circle cx="673" cy="731" r="3" class="node" id="INT-2-4"/><circle cx="760" cy="360" r="3" class="node" id="TURF-1"/><circle cx="760" cy="731" r="3" class="node selected" id="TURF-4"/><circle cx="1650" cy="414" r="3" class="node" id="INT-5-4"/><circle cx="720" cy="360" r="3" class="node" id="STAIR-N-A-4"/><circle cx="1690" cy="414" r="3" class="node" id="STAIR-N-B-4"/><circle cx="1684" cy="731" r="3" class="node" id="STAIR-H-F-4"/><circle cx="673" cy="992" r="3" class="node" id="STAIR-N-D-4"/>
          </svg>
      </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <script>
    const connections = <%-JSON.stringify(connections)%>;
    function parseUnique(array, set) {
      let unique = []
      for (let i = 0; i < array.length; i++) {
        !set.has(array[i]) ? unique.push(array[i]) : null
      }
      return unique;
    }
    const dfs = (startNodeID, endNodeID) => {
      const endNode = document.getElementById(endNodeID);
      const startNode = document.getElementById(startNodeID);
      const startX = startNode.cx.baseVal.value,
        startY = startNode.cy.baseVal.value;
      const endX = endNode.cx.baseVal.value,
        endY = endNode.cy.baseVal.value;
      let visited = new Set();
      visited.add("START");
      visited.add(startNodeID);
      let path = [startNodeID];
      let currentNodeID = startNodeID;
      outerloop: while (visited.size < rooms.length-2 && path.length) {
        let neighbors = connections[currentNodeID];
        let newNodeID = "START";
        innerloop: while (visited.has(newNodeID)) {
          neighbors = parseUnique(neighbors, visited)
          if(neighbors.length){
            newNodeID = neighbors[Math.floor(Math.random() * neighbors.length)];
          }else{
            path.pop()
            currentNodeID = path[path.length-1]
            if(path.length){
              continue outerloop
            }else{
              return []
            }
          }
        }
        path.push(newNodeID);
        if (newNodeID == endNodeID) {
          break;
        }
        visited.add(newNodeID);
        currentNodeID = newNodeID;
      }
      return {
        path: path,
        visited: visited.size,
      }
    };
    function insertSorted(mainArray, cellID, cell_data) {
      let left = 0;
      let right = mainArray.length - 1;
      const small_data = cell_data[cellID];
      const small_weight = small_data.distance + small_data.cost;
      while (left <= right) {
          const mid = Math.floor((left + right) / 2);
          const middle_data = cell_data[mainArray[mid]];
          if (middle_data.cost + middle_data.distance > small_weight) {
              left = mid + 1;
          } else {
              right = mid - 1;
          }
      }
      const index = left;
      mainArray.splice(index, 0, cellID);
    }
    function bfs(startNode, endNode) {
        const visited = {};
        const queue = [[startNode, [startNode]]];
        visited[startNode] = true;

        while (queue.length > 0) {
            const [currentNode, path] = queue.shift();

            if (currentNode === endNode) {
                return {
                  path: path,
                  visited: Object.keys(visited).length,
                }; 
            }

            for (const neighbor of connections[currentNode] || []) {
                if (!visited[neighbor]) {
                    visited[neighbor] = true;
                    queue.push([neighbor, [...path, neighbor]]);
                }
            }
        }

        return {
          path: null,
          visited: null,
        }; 
    }


    const a_star = function (endNodeID, startNodeID) {
      if(startNodeID == endNodeID) {
        return [startNodeID, endNodeID];
      }
      const endNode = document.getElementById(endNodeID);
      const startNode = document.getElementById(startNodeID);
      const startX = startNode.cx.baseVal.value,
        startY = startNode.cy.baseVal.value;
      const endX = endNode.cx.baseVal.value,
        endY = endNode.cy.baseVal.value;
      let node_data = {
        // nodeID : {
        //   distance : // Manhattan distance from endNode
        //   cost : // culmulative costs to reach node from start
        //   previous : // previous node
        // }
      };
      let solved = false;
      let existingNeighbors = new Set();
      let existingVisted = new Set();
      existingVisted.add(startNodeID);
      let touching = [...connections[startNodeID]];
      touching.forEach((nodeID) => {
        existingNeighbors.add(nodeID);
        const node = document.getElementById(nodeID);
        const weight =
          Math.abs(startNode.cx.baseVal.value - node.cx.baseVal.value) +
          Math.abs(startNode.cy.baseVal.value - node.cy.baseVal.value);
        const cell_formatted = {
          distance:
            Math.abs(node.cx.baseVal.value - endX) +
            Math.abs(node.cy.baseVal.value - endY),
          cost: weight,
          previous: startNodeID,
        };
        node_data[nodeID] = cell_formatted;
      });
      touching = touching.sort((nodeID1, nodeID2) => {
        const n1 = node_data[nodeID1];
        const n2 = node_data[nodeID2];
        return n2.cost + n2.distance - n1.cost - n2.distance;
      });
      while (touching.length && !solved) {
        const currentID = touching.pop();
        existingNeighbors.delete(currentID);
        if (currentID == endNodeID) {
          solved = true;
          break;
        } else {
          existingVisted.add(currentID);
        }
        let oldCost = node_data[currentID].cost;
        const currentNode = document.getElementById(currentID);
        let newNeighbors = [...connections[currentID]].filter(
          (neighbor_node) => {
            return !existingVisted.has(neighbor_node);
          }
        );
        let requireReorder = newNeighbors.filter((neighborID) => {
          const node = document.getElementById(neighborID);
          const cost =
            oldCost +
            Math.abs(currentNode.cx.baseVal.value - node.cx.baseVal.value) +
            Math.abs(currentNode.cy.baseVal.value - node.cy.baseVal.value)
          if (existingNeighbors.has(neighborID)) {
            if (cost < node_data[neighborID].cost) {
              node_data[neighborID].cost = cost;
              node_data[neighborID].previous = currentID;
              touching.splice(touching.indexOf(neighborID), 1);
              return true;
            }
            return false;
          } else {
            const distance =
              Math.abs(node.cx.baseVal.value - endX) +
              Math.abs(node.cy.baseVal.value - endY);
            node_data[neighborID] = {
              distance: distance,
              cost: cost,
              previous: currentID,
            };
            existingNeighbors.add(neighborID);
            return true;
          }
        });
        requireReorder.forEach((id) => {
          insertSorted(touching, id, node_data);
        });
      }
      if (solved) {
        let path = [];
        let next = endNodeID;
        while (next !== startNodeID) {
          path.push(next);
          next = node_data[next].previous;
        }
        path.push(next);
        return {
          path:path,
          visited: existingVisted.size,
        }
      } else {
        console.log(startNode, endNode, "FAILED")
        return {
          path: [],
          visited: null,
        }
      }
    };
    function dijkstra(startNode, endNode) {
      const distances = {};
      const predecessors = {};
      const unvisitedNodes = new Set(Object.keys(connections));

      
      for (const node of unvisitedNodes) {
        distances[node] = node === startNode ? 0 : Infinity;
        predecessors[node] = null;
      }

      while (unvisitedNodes.size > 0) {
        let currentNode = null;
        for (const node of unvisitedNodes) {
          if (currentNode === null || distances[node] < distances[currentNode]) {
            currentNode = node;
          }
        }
        if (currentNode === endNode) {
          break; 
        }
        unvisitedNodes.delete(currentNode);
        for (const neighbor of connections[currentNode]) {
          const current_node_element = document.getElementById(currentNode)
          const neighbor_node_element = document.getElementById(neighbor)
          const edgeWeight = Math.abs(current_node_element.cx.baseVal.value - neighbor_node_element.cx.baseVal.value) + Math.abs(current_node_element.cy.baseVal.value - neighbor_node_element.cy.baseVal.value)
          const potentialDistance = distances[currentNode] + edgeWeight;

          if (potentialDistance < distances[neighbor]) {
            distances[neighbor] = potentialDistance;
            predecessors[neighbor] = currentNode;
          }
        }
      }

      const path = [];
      let node = endNode;
      while (node !== null) {
        path.unshift(node);
        node = predecessors[node];
      }

      return {
        path: path,
        visited: rooms.length - unvisitedNodes.size
      }
    }
    
    function getCount(){
      const n= Number(document.getElementById('count').value)
      return isNaN(n) ? null : n
    }

    let rooms = [
    "A-101",
    "A-102",
    "A-104",
    "A-200",
    "A-201",
    "A-202",
    "A-203",
    "A-204",
    "ADMISSIONS",
    "BERLIN-GARDEN",
    "CAFETERIA-1",
    "CAFETERIA-2",
    "CAFETERIA-3",
    "CAFETERIA-4",
    "EXIT-101",
    "EXIT-ANNEX",
    "EXIT-HM",
    "EXIT-KITCHEN",
    "EXIT-LINK",
    "EXIT-LS",
    "EXIT-MS",
    "EXIT-STAIR-N-A",
    "EXIT-STAIR-N-B",
    "EXIT-US-EAST",
    "EXIT-US-WEST",
    "HAWLEY-1",
    "HAWLEY-2",
    "HAWLEY-3",
    "HEAD-CONF",
    "HEAD-OFFICE",
    "INT-0-2",
    "INT-1-2",
    "INT-10",
    "INT-10-2",
    "INT-10-3",
    "INT-100",
    "INT-100-2",
    "INT-100-3",
    "INT-101",
    "INT-101-2",
    "INT-101-3",
    "INT-102",
    "INT-102-2",
    "INT-102-3",
    "INT-103-2",
    "INT-103-3",
    "INT-104",
    "INT-104-2",
    "INT-104-3",
    "INT-105",
    "INT-105-2",
    "INT-106",
    "INT-106-2",
    "INT-107",
    "INT-107-2",
    "INT-108",
    "INT-108-2",
    "INT-109",
    "INT-109-2",
    "INT-11-2",
    "INT-110-2",
    "INT-111",
    "INT-111-2",
    "INT-112-2",
    "INT-113-2",
    "INT-114-2",
    "INT-115",
    "INT-115-2",
    "INT-116",
    "INT-116-2",
    "INT-117-2",
    "INT-118-2",
    "INT-119",
    "INT-119-2",
    "INT-12",
    "INT-12-2",
    "INT-12-3",
    "INT-120",
    "INT-120-2",
    "INT-121",
    "INT-121-2",
    "INT-122",
    "INT-122-2",
    "INT-123",
    "INT-123-2",
    "INT-124",
    "INT-124-2",
    "INT-125-2",
    "INT-126",
    "INT-126-2",
    "INT-127",
    "INT-128-2",
    "INT-129",
    "INT-129-2",
    "INT-13",
    "INT-13-2",
    "INT-13-3",
    "INT-130",
    "INT-130-2",
    "INT-131",
    "INT-131-2",
    "INT-132",
    "INT-132-2",
    "INT-133-2",
    "INT-134",
    "INT-134-2",
    "INT-135",
    "INT-135-2",
    "INT-137",
    "INT-137-2",
    "INT-138",
    "INT-138-2",
    "INT-139",
    "INT-139-2",
    "INT-14",
    "INT-14-3",
    "INT-140",
    "INT-140-2",
    "INT-141",
    "INT-141-2",
    "INT-142",
    "INT-142-2",
    "INT-143",
    "INT-143-2",
    "INT-144",
    "INT-144-2",
    "INT-146",
    "INT-147",
    "INT-147-2",
    "INT-148",
    "INT-148-2",
    "INT-149",
    "INT-15-2",
    "INT-150",
    "INT-150-2",
    "INT-151",
    "INT-151-2",
    "INT-152",
    "INT-152-2",
    "INT-153",
    "INT-153-2",
    "INT-154-2",
    "INT-155",
    "INT-155-2",
    "INT-156",
    "INT-156-2",
    "INT-157",
    "INT-158",
    "INT-158-2",
    "INT-159",
    "INT-159-2",
    "INT-16-2",
    "INT-160",
    "INT-161",
    "INT-162",
    "INT-162-2",
    "INT-163",
    "INT-163-2",
    "INT-164",
    "INT-164-2",
    "INT-165",
    "INT-166",
    "INT-167",
    "INT-168",
    "INT-169",
    "INT-17-2",
    "INT-170",
    "INT-171",
    "INT-172",
    "INT-173",
    "INT-174",
    "INT-175",
    "INT-176",
    "INT-177",
    "INT-178",
    "INT-179",
    "INT-18",
    "INT-18-2",
    "INT-18-3",
    "INT-189",
    "INT-19-2",
    "INT-190",
    "INT-192",
    "INT-193",
    "INT-194",
    "INT-195",
    "INT-196",
    "INT-197",
    "INT-198",
    "INT-199",
    "INT-2-2",
    "INT-2-3",
    "INT-2-4",
    "INT-20-2",
    "INT-202",
    "INT-203",
    "INT-21-2",
    "INT-21-3",
    "INT-22-2",
    "INT-23-2",
    "INT-23-3",
    "INT-24-3",
    "INT-25-3",
    "INT-26",
    "INT-26-2",
    "INT-27",
    "INT-27-2",
    "INT-27-3",
    "INT-29",
    "INT-3-2",
    "INT-3-3",
    "INT-30-3",
    "INT-31-3",
    "INT-32",
    "INT-33-3",
    "INT-34",
    "INT-34-2",
    "INT-34-3",
    "INT-35-2",
    "INT-35-3",
    "INT-36-3",
    "INT-37-2",
    "INT-38",
    "INT-38-2",
    "INT-38-3",
    "INT-39-2",
    "INT-39-3",
    "INT-4",
    "INT-4-2",
    "INT-40-2",
    "INT-40-3",
    "INT-41-3",
    "INT-42-3",
    "INT-43",
    "INT-43-2",
    "INT-43-3",
    "INT-44",
    "INT-44-2",
    "INT-44-3",
    "INT-45",
    "INT-45-2",
    "INT-45-3",
    "INT-46",
    "INT-46-2",
    "INT-46-3",
    "INT-47",
    "INT-47-2",
    "INT-47-3",
    "INT-48",
    "INT-48-2",
    "INT-48-3",
    "INT-49",
    "INT-49-2",
    "INT-49-3",
    "INT-5-2",
    "INT-5-3",
    "INT-5-4",
    "INT-50",
    "INT-50-3",
    "INT-51",
    "INT-51-3",
    "INT-52",
    "INT-52-2",
    "INT-52-3",
    "INT-53-2",
    "INT-53-3",
    "INT-54",
    "INT-54-2",
    "INT-54-3",
    "INT-55",
    "INT-55-2",
    "INT-55-3",
    "INT-56",
    "INT-56-2",
    "INT-56-3",
    "INT-57-2",
    "INT-58-2",
    "INT-58-3",
    "INT-59-2",
    "INT-6-2",
    "INT-6-3",
    "INT-60-2",
    "INT-60-3",
    "INT-61-2",
    "INT-62-2",
    "INT-64-2",
    "INT-65-2",
    "INT-66-2",
    "INT-66-3",
    "INT-67-3",
    "INT-68",
    "INT-68-3",
    "INT-69",
    "INT-69-2",
    "INT-69-3",
    "INT-7",
    "INT-70",
    "INT-70-2",
    "INT-71",
    "INT-71-2",
    "INT-71-3",
    "INT-72",
    "INT-72-2",
    "INT-72-3",
    "INT-73",
    "INT-73-2",
    "INT-73-3",
    "INT-74",
    "INT-74-2",
    "INT-74-3",
    "INT-75",
    "INT-75-2",
    "INT-75-3",
    "INT-76",
    "INT-76-2",
    "INT-76-3",
    "INT-77",
    "INT-77-2",
    "INT-79-2",
    "INT-8-2",
    "INT-8-3",
    "INT-80",
    "INT-80-3",
    "INT-81-2",
    "INT-81-3",
    "INT-82",
    "INT-82-2",
    "INT-82-3",
    "INT-83-2",
    "INT-84-2",
    "INT-84-3",
    "INT-85",
    "INT-85-2",
    "INT-85-3",
    "INT-86",
    "INT-86-2",
    "INT-87-2",
    "INT-87-3",
    "INT-88-2",
    "INT-88-3",
    "INT-89",
    "INT-89-2",
    "INT-9",
    "INT-9-2",
    "INT-90-2",
    "INT-91-2",
    "INT-92",
    "INT-92-2",
    "INT-93",
    "INT-93-2",
    "INT-94",
    "INT-94-2",
    "INT-95",
    "INT-95-3",
    "INT-96",
    "INT-96-3",
    "INT-98",
    "INT-98-3",
    "INT-99",
    "INT-99-2",
    "INT-99-3",
    "KITCHEN-1",
    "KITCHEN-2",
    "L-101",
    "L-102",
    "L-103",
    "L-104",
    "L-105A",
    "L-105B",
    "L-201",
    "L-202",
    "L-203",
    "L-204",
    "L-205",
    "L-206",
    "L-301",
    "L-302",
    "L-303",
    "L-304",
    "L-305",
    "L-306",
    "L-307",
    "L-308",
    "L-309",
    "LS-ASSISTANT",
    "LS-PRINCIPAL",
    "M-100",
    "M-101",
    "M-102",
    "M-103",
    "M-104",
    "M-106",
    "M-107",
    "M-108",
    "M-109",
    "M-110",
    "M-111",
    "M-112",
    "M-200",
    "M-201",
    "M-202",
    "M-203",
    "M-204",
    "M-205",
    "M-206",
    "M-208",
    "M-209",
    "M-211",
    "M-212",
    "M-300-1",
    "M-300-2",
    "M-300-3",
    "M-BATHROOM-1",
    "M-BATHROOM-2",
    "M-BATHROOM-3",
    "M-BATHROOM-4",
    "M-BATHROOM-5",
    "M-BATHROOM-6",
    "M-BATHROOM-7",
    "MANUAL-INT-1",
    "MANUAL-INT-2",
    "MS-ASSISTANT",
    "MS-PRINCIPAL",
    "N-101",
    "N-101A",
    "N-200",
    "N-201-1",
    "N-201-2",
    "N-203",
    "N-207",
    "N-208",
    "N-209",
    "N-210",
    "N-211",
    "N-212-1",
    "N-212-2",
    "N-213",
    "N-215",
    "N-301",
    "N-302-1",
    "N-302-2",
    "N-304-1",
    "N-304-2",
    "N-305",
    "N-306-1",
    "N-306-2",
    "N-307",
    "N-307-1",
    "N-308",
    "N-310",
    "N-312-1",
    "N-312-2",
    "N-313",
    "N-314",
    "N-315",
    "N-316",
    "N-317",
    "N-320",
    "N-321",
    "N-322",
    "N-323",
    "N-324",
    "N-325",
    "N-326",
    "N-327",
    "N-329",
    "N-330",
    "NURSE-LS",
    "NURSE-US",
    "STAIR-C-L-1",
    "STAIR-C-L-2",
    "STAIR-C-L-3",
    "STAIR-E-A-1",
    "STAIR-E-A-2",
    "STAIR-E-A-3",
    "STAIR-E-B-1",
    "STAIR-H-A-1",
    "STAIR-H-B-1",
    "STAIR-H-B-2",
    "STAIR-H-C-1",
    "STAIR-H-C-2",
    "STAIR-H-D-1",
    "STAIR-H-D-2",
    "STAIR-H-D-3",
    "STAIR-H-E-1",
    "STAIR-H-E-2",
    "STAIR-H-E-3",
    "STAIR-H-F-1",
    "STAIR-H-F-2",
    "STAIR-H-F-3",
    "STAIR-H-F-4",
    "STAIR-H-G-1",
    "STAIR-H-H-2",
    "STAIR-L-A-1",
    "STAIR-L-A-2",
    "STAIR-M-A-1",
    "STAIR-M-A-2",
    "STAIR-M-A-3",
    "STAIR-M-B-1",
    "STAIR-M-B-2",
    "STAIR-N-A-1",
    "STAIR-N-A-2",
    "STAIR-N-A-3",
    "STAIR-N-A-4",
    "STAIR-N-B-1",
    "STAIR-N-B-2",
    "STAIR-N-B-3",
    "STAIR-N-B-4",
    "STAIR-N-C-2",
    "STAIR-N-C-3",
    "STAIR-N-D-1",
    "STAIR-N-D-2",
    "STAIR-N-D-3",
    "STAIR-N-D-4",
    "TRASH-ROOM",
    "TURF-1",
    "TURF-2",
    "TURF-3",
    "TURF-4",
    "U-101",
    "U-102",
    "U-103",
    "U-104",
    "U-105",
    "U-106",
    "U-107",
    "U-108",
    "U-108A",
    "U-109",
    "U-111",
    "U-112",
    "U-113",
    "U-114",
    "U-115",
    "U-116",
    "U-117",
    "U-118",
    "U-119",
    "U-120",
    "U-121",
    "U-200",
    "U-201",
    "U-202",
    "U-204",
    "U-205",
    "U-206",
    "U-207",
    "U-208",
    "U-209",
    "U-210",
    "U-211",
    "U-212",
    "U-213",
    "U-214-1",
    "U-214-2",
    "U-215",
    "U-216",
    "U-218",
    "U-219",
    "U-220",
    "U-221",
    "U-222",
    "U-223",
    "U-224",
    "U-225",
    "U-226",
    "U-227",
    "U-228",
    "U-229",
    "U-230",
    "U-300-1",
    "U-300-2",
    "U-300-3",
    "US-ASSISTANT-PRINCIPAL",
    "US-COAT-ROOM",
    "US-CONFERENCE-ROOM",
    "US-DEAN-OF-STUDENT-LIFE",
    "US-LIBRARY-1",
    "US-LIBRARY-2",
    "US-LIBRARY-3",
    "US-LIBRARY-4",
    "US-PRINCIPAL",
    "US-SWAMP",
    "W-BATHROOM-1",
    "W-BATHROOM-2",
    "W-BATHROOM-3",
    "W-BATHROOM-4",
    "W-BATHROOM-6",
    "W-BATHROOM-7"
]
    function calculate_distance(path){
      let distance = 0
      let last_node = [document.getElementById(path[0]).cx.baseVal.value, document.getElementById(path[0]).cy.baseVal.value]
      for(let i = 1; i < path.length; i++){
        const newElement = document.getElementById(path[i])
        let values = [newElement.cx.baseVal.value, newElement.cy.baseVal.value]
        distance += Math.sqrt((values[0]-last_node[0])**2 + (values[1]-last_node[1])**2)
        last_node = values
      }
      return distance
    }
    function runTest(){
      const count = getCount()
      let testCombos = []
      for(let i = 0; i < count; i++){
        testCombos.push([rooms[Math.floor(Math.random() * rooms.length)], rooms[Math.floor(Math.random() * rooms.length)]])
      }

      let dij_path_avg = 0
      let dij_dist_avg = 0
      let dij_time_avg = 0
      let dij_vino_avg = 0

      let ast_path_avg = 0
      let ast_dist_avg = 0
      let ast_time_avg = 0
      let ast_vino_avg = 0

      let dfs_path_avg = 0
      let dfs_dist_avg = 0
      let dfs_time_avg = 0
      let dfs_vino_avg = 0

      let bfs_path_avg = 0
      let bfs_dist_avg = 0
      let bfs_time_avg = 0
      let bfs_vino_avg = 0

      testCombos.forEach((combo)=>{
        const dij_startTime = Date.now()
        const dijkstra_result = dijkstra(combo[0], combo[1])
        const dij_solution = dijkstra_result.path
        const dij_endTime = Date.now()
        dij_time_avg += dij_endTime - dij_startTime
        dij_path_avg += dij_solution.length
        dij_dist_avg += calculate_distance(dij_solution)
        dij_vino_avg += dijkstra_result.visited

        const ast_startTime = Date.now()
        const a_star_result = a_star(combo[0], combo[1])
        const ast_solution = a_star_result.path
        const ast_endTime = Date.now()
        ast_time_avg += ast_endTime - ast_startTime
        ast_path_avg += ast_solution.length
        ast_dist_avg += calculate_distance(ast_solution)
        ast_vino_avg += a_star_result.visited

        const dfs_startTime = Date.now()
        const dfs_result = dfs(combo[0], combo[1])
        const dfs_solution = dfs_result.path
        const dfs_endTime = Date.now()
        dfs_time_avg += dfs_endTime - dfs_startTime
        dfs_path_avg += dfs_solution.length
        dfs_dist_avg += calculate_distance(dfs_solution)
        dfs_vino_avg += dfs_result.visited

        const bfs_startTime = Date.now()
        const bfs_result = bfs(combo[0], combo[1])
        const bfs_solution = bfs_result.path
        const bfs_endTime = Date.now()
        bfs_time_avg += bfs_endTime - bfs_startTime
        bfs_path_avg += bfs_solution.length
        bfs_dist_avg += calculate_distance(bfs_solution)
        bfs_vino_avg += bfs_result.visited
      })
      dij_path_avg = Math.round(dij_path_avg*100000 / count)/100000
      dij_dist_avg = Math.round(dij_dist_avg*100000 / count)/100000
      dij_time_avg = Math.round(dij_time_avg*100000 / count)/100000
      dij_vino_avg = Math.round(dij_vino_avg*100000 / count)/100000
      let dij_viti_avg = Math.round(dij_time_avg*100000 / dij_vino_avg)/100000

      ast_path_avg = Math.round(ast_path_avg*100000 / count)/100000
      ast_dist_avg = Math.round(ast_dist_avg*100000 / count)/100000
      ast_time_avg = Math.round(ast_time_avg*100000 / count)/100000
      ast_vino_avg = Math.round(ast_vino_avg*100000 / count)/100000
      let ast_viti_avg = Math.round(ast_time_avg*100000 / ast_vino_avg)/100000
      
      dfs_path_avg = Math.round(dfs_path_avg*100000 / count)/100000
      dfs_dist_avg = Math.round(dfs_dist_avg*100000 / count)/100000
      dfs_time_avg = Math.round(dfs_time_avg*100000 / count)/100000
      dfs_vino_avg = Math.round(dfs_vino_avg*100000 / count)/100000
      let dfs_viti_avg = Math.round(dfs_time_avg*100000 / dfs_vino_avg)/100000

      bfs_path_avg = Math.round(bfs_path_avg*100000 / count)/100000
      bfs_dist_avg = Math.round(bfs_dist_avg*100000 / count)/100000
      bfs_time_avg = Math.round(bfs_time_avg*100000 / count)/100000
      bfs_vino_avg = Math.round(bfs_vino_avg*100000 / count)/100000
      let bfs_viti_avg = Math.round(bfs_time_avg*100000 / bfs_vino_avg)/100000
      
      const dij_path_element = document.getElementById('dij_path')
      const dij_dist_element = document.getElementById('dij_dist')
      const dij_time_element = document.getElementById('dij_time')
      const dij_vino_element = document.getElementById('dij_vino')
      const dij_viti_element = document.getElementById('dij_viti')

      const ast_path_element = document.getElementById('ast_path')
      const ast_dist_element = document.getElementById('ast_dist')
      const ast_time_element = document.getElementById('ast_time')
      const ast_vino_element = document.getElementById('ast_vino')
      const ast_viti_element = document.getElementById('ast_viti')

      const dfs_path_element = document.getElementById('dfs_path')
      const dfs_dist_element = document.getElementById('dfs_dist')
      const dfs_time_element = document.getElementById('dfs_time')
      const dfs_vino_element = document.getElementById('dfs_vino')
      const dfs_viti_element = document.getElementById('dfs_viti')

      const bfs_path_element = document.getElementById('bfs_path')
      const bfs_dist_element = document.getElementById('bfs_dist')
      const bfs_time_element = document.getElementById('bfs_time')
      const bfs_vino_element = document.getElementById('bfs_vino')
      const bfs_viti_element = document.getElementById('bfs_viti')

      dij_path_element.innerHTML = dij_path_avg
      dij_dist_element.innerHTML = dij_dist_avg
      dij_time_element.innerHTML = dij_time_avg
      dij_vino_element.innerHTML = dij_vino_avg
      dij_viti_element.innerHTML = dij_viti_avg

      ast_path_element.innerHTML = ast_path_avg
      ast_dist_element.innerHTML = ast_dist_avg
      ast_time_element.innerHTML = ast_time_avg
      ast_vino_element.innerHTML = ast_vino_avg
      ast_viti_element.innerHTML = ast_viti_avg

      dfs_path_element.innerHTML = dfs_path_avg
      dfs_dist_element.innerHTML = dfs_dist_avg
      dfs_time_element.innerHTML = dfs_time_avg
      dfs_vino_element.innerHTML = dfs_vino_avg
      dfs_viti_element.innerHTML = dfs_viti_avg

      bfs_path_element.innerHTML = bfs_path_avg
      bfs_dist_element.innerHTML = bfs_dist_avg
      bfs_time_element.innerHTML = bfs_time_avg
      bfs_vino_element.innerHTML = bfs_vino_avg
      bfs_viti_element.innerHTML = bfs_viti_avg
    }
  </script>
  <h1>TODO:</h1>
  <ul>
    <li>Style this page</li>
    <li>Add quantitative and interactive graphs</li>
    <li>Add 1 or 2 more algs</li>
    <li>Adapt all algs for matrix representation</li>
    <li>Summarize results and algs on this page</li>
    <li>Poster</li>

  </ul>
</html>
