<%- include('partials/header', {title:"TrinMaps"}) -%>

<body>
  <select id = "from">
    <% for(let room in data){ %>
    <option><%=room%></option> 
    <%}%>
    </select>
    <select id = "from">
      <% for(let room in data){ %>
      <option><%=room%></option> 
      <%}%>
      </select>

  
</body>

  

<%- include('partials/footer') -%>