<%- include('partials/header', {title:"TrinMaps"}) -%>

<div>
  <h1> Welcome to the Trinity Sports news</h1>
  <div class="row">
    <div class="col-md-3">
      <a class="btn btn-outline-dark" href="/auth/google" role="button" style="text-transform:none">
        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        Login with Google
      </a>
    </div>
  </div>
</div>

  <% if(user){ %>
  <% }%>

  <%- include('partials/footer') -%>