<%- include('partials/header', {title:"TrinMaps"}) -%>

<main>
  
    <div class="row">
        <div class="col-5"></div>
         <div class="col-2">
        
           <a class="btn btn-outline-dark" href="/auth/google" role="button" style="text-transform:none">
             <img width="100%"  alt="Google sign-in"
               src="https://simphy.com/google-signin-button.png" />
           
              
           </a>  
         </div>
         <div class="col-5"></div>
       </div>
  
  <br>
  <br>
  <%if(user){%>
    <a style="display:block;text-align:center" href="/index">Click to load page</a>
  <%}%>
 
</main>

<%- include('partials/footer') -%>