<%- include('partials/header', {title:"TrinMaps"}) -%>
<body>
  <div class="main-div">
    <img class="cover-img" src="hello.jpg">
    <h1 class="Logo" id="title">Welcome to TrinMaps!</h1>
    <p id="disclaimer">Disclaimer: TrinMaps is <span class="dev">IN DEVELOPMENT</span>. </p> 
    <p id="about">TrinMaps aims to assist the navigation of Trinity by displaying the shortest path between two locations in the school. We, the developers of TrinMaps, would like the application to be ________. Please keep these in mind as you critique the application and thank you for taking the time to check this out! Enter any feedback at the bottom of this page.</p>
  </div>
  
</body>
<!-- <main>
  
    <div class="row">
        <div class="col-5"></div>
         <div class="col-2">
        
           <a class="btn btn-outline-dark" href="/auth/google" role="button" style="text-transform:none">
             <img width="100%"  alt="Google sign-in"
               src="https://simphy.com/google-signin-button.png" />
           
              
           </a>  
         </div>
         <div class="col-5"></div>
       </div>
  
  <br>
  <br>
  <%if(user){%>
    <a style="display:block;text-align:center" href="/index">Click to load page</a>
  <%}%>
 
</main> -->

<%- include('partials/footer') -%>